body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 120vh;
    //background: rgb(3, 34, 49);
    font-family: sans-serif;
  }
  .box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-gap: 8px;
    margin: 1 auto;
    grid-column-gap: 30px;
    margin-left: -2%;
  }
  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fff;
    //margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgb(3, 34, 49);
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 350px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 300px;
      //text-align: center;
  }

  .codeButton{
    margin-top: 2px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color:inherit;
    margin-left: 108px;
    color: #777 !important;
    border-color: #777 !important;
    padding-top: 2.5px;
    font-size: 12px;
    &:hover{
      border-color: black !important;
      cursor: pointer;
      color: black !important;
      
    }
  
  }

  .fa-github:hover {
    transform: scale(1.1);
    transition: 0.4s all;
    color: rgb(5, 131, 104);
}


 .skillsButton{
   //color: white;
   background-color: rgb(3, 34, 49) ;
   color: white ;
   margin: 0.7px;
   border-radius: 5px ;
   font-size: 11px;
   border-color: rgb(3, 34, 49);
   &:hover{
    //border-color: black !important;
  
    color: white;
    background-color: #777;
  }
 }

 .spreadsheetButton{
  //color: white;
  background-color: rgb(3, 34, 49) ;
  color: white ;
  margin: 6px;
  margin-top: 40px;
  //margin-bottom: 100px;
  border-radius: 5px ;
  font-size: 11px;
  border-color: rgb(3, 34, 49);
  &:hover{
    //border-color: black !important;
    color: white;
    background-color: #777;
  }
}

.todoButton{
  background-color: rgb(3, 34, 49) ;
  color: white ;
  margin: 5px;

  border-radius: 5px ;
  font-size: 11px;
  border-color: rgb(3, 34, 49);
  &:hover{
    //border-color: black !important;
    color: white;
    background-color: #777;
  }
}

.medsysButton{
  background-color: rgb(3, 34, 49) ;
  color: white ;
  margin: 8px;
  margin-top: 30px;
  //margin-bottom: 100px;
  border-radius: 5px ;
  font-size: 11px;
  border-color: rgb(3, 34, 49);
  &:hover{
    //border-color: black !important;
    color: white;
    background-color: #777;
  }
}

.dentalButton{
  background-color: rgb(3, 34, 49) ;
  color: white ;
  margin: 4px;
  margin-top: 20px;
  //margin-bottom: 100px;
  border-radius: 5px ;
  font-size: 11px;
  border-color: rgb(3, 34, 49);
  &:hover{
    //border-color: black !important;
    color: white;
    background-color: #777;
  }
}

.pfButton{
  background-color: rgb(3, 34, 49) ;
  color: white ;
  margin: 5px;
  margin-top: 10px;
  //margin-bottom: 100px;
  border-radius: 5px ;
  font-size: 11px;
  border-color: rgb(3, 34, 49);
  &:hover{
    //border-color: black !important;
    color: white;
    background-color: #777;
  }
}

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: rgb(3, 34, 49);
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 5px;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: rgb(5, 131, 104);
  display: block;
  margin-bottom: 5px;
  text-align: center;
   } 

   .details p {
     color: #777;
     text-align: justify;
     margin-bottom: 10px;
  }


.cardDiv{
    //background-color: rgb(3, 34, 49);
    width: 100%;
    //height: 50px;
}

.cardTitle{
    //padding: 2%;
    color: rgb(3, 34, 49);
    font-size: 25px;
    //justify-content: center;
    font-family: Verdana;
    text-align: center;
    letter-spacing: 0.05em;
}




.fa-github{
  transform: scale(1.1);
  transition: 0.4s all;
  color: rgb(78, 75, 75);
}


.buttonDiv{
  align-items: center;
  justify-items: center;
  justify-content: center;
  text-justify: center;
}