<div class="cardDiv" id="Projects">
    <mat-card-title class="cardTitle">PROJECTS</mat-card-title>
</div>
<body>
  <div class="box">
      <div class="card">
        <div class="imgBx">
            <img src="../../assets/instacart.png" alt="images">
        </div>
        <div class="details">
            <h2>INSTACART<br><span>JSP | SPRING MVC | MYSQL</span></h2><a style = "text-decoration: none;" target="_blank" rel="noopener noreferrer" class="tooltip" href= "https://github.com/SridharPrasad-Panneerselvam/InstaCart"><button class = "codeButton" >Code <i class="fab fa-github fa-1.5x"></i></button></a>
<p><i>An online grocery shopping cart application wherein the users will be able to order groceries from the nearby available
grocery store and get it delivered at their doorstep, while the admin will be able to manage the products in the store</i></p>
<div class = "buttonDiv">
<button class = "skillsButton">Java</button><button class = "skillsButton">HTML</button><button class = "skillsButton">CSS</button><button class = "skillsButton">JS</button><button class = "skillsButton">Sping MVC</button><button class = "skillsButton">JDBC</button><button class = "skillsButton">Hibernate</button><button class = "skillsButton">Annotations</button><button class = "skillsButton">HQL Criteria</button><button class = "skillsButton">MySQL</button></div>
</div>
      </div>
    
       <div class="card">
         <div class="imgBx">
            <img src="../../assets/Capture.PNG" alt="images">
         </div>
         <div class="details">
            <h2>ROADSIDE ASSISTANCE<br><span>MEAN STACK</span></h2><a style = "text-decoration: none;" target="_blank" rel="noopener noreferrer" class="tooltip" href= "https://github.com/SridharPrasad-Panneerselvam/Road-Side-Assistance"><button class = "codeButton">Code <i class="fab fa-github fa-1.5x"></i></button></a>
            <p><i>A MEAN stack application to assist/help users with roadside assistance in case of an emergency/breakdown/flat wheel or
any issue with the vehicle wherein, users can find and book the nearest vendor and get it serviced at the requested location</i></p>
<div class = "buttonDiv">
   <button class = "skillsButton">Angular</button><button class = "skillsButton">Angular Material</button><button class = "skillsButton">RxJS</button><button class = "skillsButton">ExpressJS</button><button class = "skillsButton">Node JS</button><button class = "skillsButton">MongoDB</button><button class = "skillsButton">Google API</button><button class = "skillsButton">CarMD API</button><button class = "skillsButton">PayPal API</button><button class = "skillsButton">VIN API</button><button class = "skillsButton">Distanca Matrix API</button>
</div>
   </div>
          </div>
       
       <div class="card">
        <div class="imgBx">
           <img src="../../assets/bookshoppe.png" alt="images">
        </div>
        <div class="details">
           <h2>BOOK SHOPPE<br><span>ANGULAR|SPRINGBOOT|MYSQL|AWS </span></h2>
           <p><i>A Book shopping cart application leveraging Angular framework as front end and SpringBoot & MySQL for backend; Buyers will be able to purchase books from the store while the Sellers manage the books sold in the shoppe; Implemented CI/CD by using Git, CircleCI, Packer & AWS CodeDeploy to deploy this application in AWS</i></p>
           <div class = "buttonDiv">
              <button class = "skillsButton">Angular</button><button class = "skillsButton">Angular Material</button><button class = "skillsButton">RxJS</button><button class = "skillsButton">SpringBoot</button><button class = "skillsButton">MySQL</button><button class = "skillsButton">AWS</button><button class = "skillsButton">CircleCI</button><button class = "skillsButton">Docker</button><button class = "skillsButton">Terraform</button><button class = "skillsButton">Packer</button><button class = "skillsButton">EC2</button><button class = "skillsButton">IAM</button><button class = "skillsButton">RDS</button><button class = "skillsButton">S3 Bucket</button>
           </div>
         </div>
         
      </div>
      <div class="card">
        <div class="imgBx">
           <img src="../../assets/spreadsheet1.png" alt="images">
        </div>
        <div class="details">
           <h2>SPREADSHEET<br><span>HTML | SCSS | JAVASCRIPT | RxJS</span></h2><a style = "text-decoration: none;" target="_blank" rel="noopener noreferrer" class="tooltip" href= "https://github.com/SridharPrasad-Panneerselvam/SpreadSheet-Application"><button class = "codeButton">Code <i class="fab fa-github fa-1.5x"></i></button></a>
           <p><i>A spreadsheet application where the user will be able to add/delete a row/column, import/export as csv, perform basic
arithmetic operations for the data in the cell</i></p>
<div class = "buttonDiv">
   <button class = "spreadsheetButton">HTML</button><button class = "spreadsheetButton">SCSS</button><button class = "spreadsheetButton">JavaScript(ES6)</button><button class = "spreadsheetButton">RxJS</button>
</div>
         </div>
      </div>
      <div class="card">
        <div class="imgBx">
           <img src="../../assets/0.jpeg" alt="images">
        </div>
        <div class="details">
           <h2>TO DO APP<br><span>MEAN STACK</span></h2><a style = "text-decoration: none;" target="_blank" rel="noopener noreferrer" class="tooltip" href= "https://github.com/SridharPrasad-Panneerselvam/To-Do-Application"><button class = "codeButton">Code <i class="fab fa-github fa-1.5x"></i></button></a>
           <p><i>A To Do items MEAN stack application which allows the users to create a to do list. It keeps track on the due date and
time of the to do item</i></p>
<div class = "buttonDiv">
   <button class = "todoButton">Angular</button><button class = "todoButton">HTML</button><button class = "todoButton">CSS</button><button class = "todoButton">TypeScript</button><button class = "todoButton">RxJS</button><button class = "todoButton">ExpressJS</button><button class = "todoButton">NodeJS</button><button class = "todoButton">MongoDB</button><button class = "todoButton">HQL Criteria</button><button class = "todoButton">MySQL</button><button class = "todoButton">Rest API</button>
</div>
         </div>
      </div>
      <div class="card">
        <div class="imgBx">
           <img src="../../assets/medsys.png" alt="images">
        </div>
        <div class="details">
           <h2>MEDSYS<br><span>JAVA | SWING | DB4O</span></h2><a style = "text-decoration: none;" target="_blank" rel="noopener noreferrer" class="tooltip" href= "https://github.com/SridharPrasad-Panneerselvam/MedSys"><button class = "codeButton">Code <i class="fab fa-github fa-1.5x"></i></button></a>
           <p><i>A Healthcare Management System application by leveraging ecosystem architecture using core java and swing components
based on a Singleton Ecosystem model</i></p>
<div class = "buttonDiv">
   <button class = "medsysButton">Java</button><button class = "medsysButton">DB4O</button><button class = "medsysButton">Swing</button><button class = "medsysButton">Substance UI</button>
</div>
         </div>
         
      </div>
      <div class="card">
        <div class="imgBx">
           <img src="../../assets/Dental.png" alt="images">
        </div>
        <div class="details">
           <h2>DENTAL MANAGEMENT SYSTEM<br><span>MVC | SQL SERVER</span></h2>
           <p><i>Designed and developed an end to end Dentist Appointment Booking Management System where users will be able make
appointments, check their treatments / procedures and be able to retrieve the consolidated bill</i></p>
<div class = "buttonDiv">
   <button class = "dentalButton">MVC</button><button class = "dentalButton">MS SQL Server</button><button class = "dentalButton">Toad Data Modeller</button>
</div>
         </div>
      </div>
      <div class="card">
        <div class="imgBx">
           <img src="../../assets/porfolio.png" alt="images">
        </div>
        <div class="details">
           <h2>PORTFOLIO<br><span>ANGULAR</span></h2><a style = "text-decoration: none;" target="_blank" rel="noopener noreferrer" class="tooltip" href= "https://github.com/SridharPrasad-Panneerselvam/Portfolio-SridharPrasadPanneerselvam"><button class = "codeButton">Code <i class="fab fa-github fa-1.5x"></i></button></a>
           <p><i>A platform to share my work to the vibrant scholastic community and to learn, contribute and grow through my varied skills and experiences</i></p>
           <div class = "buttonDiv">
            <button class = "pfButton">Angular</button><button class = "pfButton">Angular Material</button><button class = "pfButton">RxJS</button><button class = "pfButton">Bootstrap</button><button class = "pfButton">HTML</button><button class = "pfButton">SCSS</button><button class = "pfButton">Responsive</button>
         </div>
         </div>
      </div>
 
  </div>
</body>
