<div id="Education">
<mat-card-title class="cardTitle">EDUCATION</mat-card-title>
<div class="container">
  <div class="fb-card-container">
    <div class="card front">
      <div class="university">NORTHEASTERN UNIVERSITY, BOSTON, MA
      </div>
      <div class="course"><i>Master of Science in <b>Information Systems</b></i></div>
      <div class="cgpa">
        GPA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.8<sup>*</sup>/4<br>
        <progress value="0.97" width="200">3.8 out of 4</progress>
      </div>    
          <div class="coursetable">
            <b>Courses</b>
            <table style="width:100%">
              <tr class="border">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Application Engineering and Development using Java and Swing</td>
                <td><button mat-button>A-</button></td>
              </tr>
              <tr class="border">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Database Management and Database Design</td>
                <td><button mat-button>A</button></td>
              </tr>
              <tr class="border">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Web Development Tools and Methods using Java</td>
                <td><button mat-button>S</button></td>
              </tr>
              <tr class="border">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Web Design and User Experience Engineering using Angular Framework</td>
                <td><button mat-button>A-</button></td>
              </tr>
              <tr class="border">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Network Structures and Cloud Computing<sup>*</sup></td>
                <td><button mat-button>TBD</button></td>
              </tr>
            </table>
          </div>
    </div>
    <div class="card back">
      <div class="universitybtech">ANNA UNIVERSITY, TN, INDIA
      </div>
      <div class="course"><i>Bachelor of Technology in<b> Ceramic Technology</b></i></div>
      <div class="cgpa">
        CGPA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.0/10<br>
        <progress value="0.80" width="200">8.0 out of 10</progress>
      </div><br>   
          <div class="coursetable">
            <b>Relevant Courses</b>
            <br>
            <table style="width:100%">
              <tr class="border">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Computing Techniques in C</td>
                <td><button mat-button>C</button></td>
              </tr>
              <tr class="border">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Computer Practices</td>
                <td><button mat-button>D</button></td>
              </tr>
              <tr class="border">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Unix Programming</td>
                <td><button mat-button>B</button></td>
              </tr>
              <tr class="border">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;Probability and Statistics</td>
                <td><button mat-button>B</button></td>
              </tr>
            </table>
          </div>
    </div>
  </div>
</div>
</div>