<div class="footer">
    <div class="icons">
    <a href="https://www.linkedin.com/in/SridharPrasadPanneerselvam/" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fab fa-linkedin fa-2x"></i></a>
    <a href="https://github.com/SridharPrasad-Panneerselvam" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://goo.gl/maps/8Wdbt33DDJBMq7FJ7" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fa fa-map-marker fa-2x"></i></a>
    <a href="https://twitter.com/SridharprasadP" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="https://www.facebook.com/sridhar.prasad.7" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="https://www.instagram.com/sridharprasad.p/" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fa fa-instagram fa-2x"></i></a>
    </div>
    <div class="lastline">
        <p>Copyright &copy; 2020 Sridhar Prasad Panneerselvam. All rights reserved.</p>
    </div> 
</div>
