<div id="Work">
  <mat-card-title class="cardTitle">EXPERIENCE</mat-card-title>
  <div class="container">
 
    <div class="box">
      <div class="box__img">
        <img src="https://media.glassdoor.com/l/c0/91/2d/83/infosys-library-in-campus.jpg" alt="">
      </div>
      <div class="box__details">
        <div class="role">
            <table class="table1">
                <tr>
                    <td><i>Senior Software Engineer</i></td>
                    <td style="text-align: end;"><i>December 2016 - June 2019</i></td>
                </tr>
                <tr>
                    <td><i>Infosys Ltd, KA, India</i></td>
                </tr>
            </table>
            <ul class="list">
                <li>Responsible for providing cloud infrastructure security and management services for a leading American Investment Banking firm. Involved in the SDLC for the firm with an experience in handling BCP’s, Tech Infra activities for the client server by managing 10+ applications simultaneously.</li>
                <li>Automated various day to day tasks in profit and loss calculation batch processing using Autosys, shell scripting, SQL Server and reduced the similar alert generation by over 40%.</li>
                <li>Led a team of three to make effective enhancements to the batch processing by creating various Web pages and Shell Scripts.</li>
                <li>Developed an end to end web page application using HTML, CSS, Javascript, Java, SQL Server to send live updates on batch
                    processing to the leads and to retrieve and action against feed information.</li> 
                <li>Increased the productivity of 50% as a team by developing various shell scripts such as finding the SLA and ETA based on a given
                    feed, to find the pending feeds within a time period, send automated mails to upstream on feed follow-ups, retrieve the feed name
                    based on a job name.</li>  
                <li>Developed a mobile banking application based on Python and MySQL technology with modules for customers to login, add payee,
                    transfer funds to the payee, pay bills etc.</li>         
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>