
<div id="About">
<mat-card class="aboutCard">
    <div fxLayout="row" fxFlex="100%">
        <div fxLayout="column" fxFlex="40%">
            <img mat-card-image src="../../assets/ProfilePic1.JPG">
        </div>
        <div fxLayout="column" fxFlex="60%" class="contentdiv">
            <mat-card-title class="cardTitle">ABOUT ME</mat-card-title>
            <mat-card-content class="matcardcontent">
                <p>
                    Hi! I am <strong>Sridhar Prasad Panneerselvam</strong>, currently pursuing my Master's in Information Systems at Northeastern University, Boston 
            and an experienced Software Engineer with a history of working in the Information Technology and Services industry for 2.6 years; have developed software using multiple frameworks; 
            knowledge of software development, cloud computing, networking, database management and design, incident and problem management; Interested in furthering my experience by developing customer focused applications.
                </p>
            </mat-card-content>
            <div class="buttonDiv">
            <mat-card-actions class="buttonActions">
                <a [href]="url" [download]="filename" style="text-decoration: none;"><button mat-button class="buttonDownload">Download CV <i class="fas fa-file-download"></i></button></a>
                <a href="profile#contact" class="contactA"><button mat-button class="buttonContact">Contact Me <i class="fas fa-address-book"></i></button></a>
              </mat-card-actions>
            </div>
            <br><br>
            <div class="links" flexLayout="center center">
                <a href="https://www.linkedin.com/in/SridharPrasadPanneerselvam/" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fab fa-linkedin fa-3x"></i></a>
                <a href="https://github.com/SridharPrasad-Panneerselvam" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fab fa-github fa-3x"></i></a>
                <a href="https://goo.gl/maps/8Wdbt33DDJBMq7FJ7" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fa fa-map-marker fa-3x"></i></a>
                <a href="https://twitter.com/SridharprasadP" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fab fa-twitter fa-3x"></i></a>
                <a href="https://www.facebook.com/sridhar.prasad.7" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="https://www.instagram.com/sridharprasad.p/" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fa fa-instagram fa-3x"></i></a> 
            </div>
        </div>
    </div>
</mat-card>
</div>
