<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
</head>
<body>

<div class = "mainpage">
    <h1 class = 'text_fade'>Sridhar Prasad Panneerselvam</h1>
    <br>
    <h3 class = 'text_fade'>
      <i><span style="color:orange" >Software Engineer | </span><span style="color:rgb(9, 192, 248)">Full Stack Developer</span><br><br><br>since 2016</i>
    </h3> 
<div>
    <!-- <button (click)="redirecttoprofile()" class="homebutton">Let's get started! <i class="fas fa-angle-right"></i></button> -->
    <button (click)="redirecttoprofile()" class="horizontal-flip-hover" data-back="Let's get started!" data-front="View my Profile ">Let's get started! <i class="fas fa-angle-right"></i></button>

</div>
<div class="links">
    <a href="https://www.linkedin.com/in/SridharPrasadPanneerselvam/" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fab fa-linkedin fa-3x"></i></a>
    <a href="https://github.com/SridharPrasad-Panneerselvam" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fab fa-github fa-3x"></i></a>
    <a href="https://goo.gl/maps/8Wdbt33DDJBMq7FJ7" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fa fa-map-marker fa-3x"></i></a>
    <a href="https://twitter.com/SridharprasadP" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fab fa-twitter fa-3x"></i></a>
    <a href="https://www.facebook.com/sridhar.prasad.7" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fa fa-facebook-square fa-3x"></i></a>
    <a href="https://www.instagram.com/sridharprasad.p/" target="_blank" rel="noopener noreferrer" class="tooltip"><i class="fa fa-instagram fa-3x"></i></a> 
</div>
</div>


</body>
