<div class="skillsbg" id="Skills">
        <mat-card class="skillcard">
            <mat-card-title class="skillTitle">SKILLS</mat-card-title>
            <table class="skillsTable">
                
                <tr>
                    <th>
                        LANGUAGES
                    </th>
                    <th>
                        <button mat-button>Java</button>
                        <button mat-button >JavaScript(ES6)</button>
                        <button mat-button >TypeScript</button>
                        <button mat-button >SQL</button>
                        <button mat-button >ShellScript</button>
                        <button mat-button >Python</button>
                    </th>
                </tr>
                <tr>
                    <th>
                        WEB TECHNOLOGIES
                    </th>
                    <th>
                        <button mat-button >SpringBoot</button>
                        <button mat-button >Spring MVC</button>
                        <button mat-button >Angular</button>
                        <button mat-button >HTML5</button>
                        <button mat-button >CSS3</button>
                        <button mat-button >Sass</button>
                        <button mat-button >Node.js</button>
                        <button mat-button >Hibernate</button>
                        <button mat-button >Rest API</button>
                    </th>
                </tr>
                <tr>
                    <th>
                        DATABASES
                    </th>
                    <th>
                        <button mat-button class="skillsButton">SQL Server</button>
                        <button mat-button class="skillsButton">MySQL</button>
                        <button mat-button class="skillsButton">MongoDB</button>
                        <button mat-button class="skillsButton">Postgress</button>
                        <button mat-button class="skillsButton">Sybase</button>
                    </th>
                </tr>
                <tr>
                    <th>
                        CLOUD TECHNOLOGIES
                    </th>
                    <th>
                        <button mat-button class="skillsButton">AWS - EC2, AMI, VPC, IAM, S3, RDS, CloudDeploy</button>
                    </th>
                </tr>
                <tr>
                    <th>
                        TOOLS & OTHERS
                    </th>
                    <th>
                        <button mat-button class="skillsButton">CircleCI</button>
                        <button mat-button class="skillsButton">MS Office</button>
                        <button mat-button class="skillsButton">Autosys</button>
                        <button mat-button class="skillsButton">Packer</button>
                        <button mat-button class="skillsButton">Terraform</button>
                        <button mat-button class="skillsButton">JIRA</button>
                        <button mat-button class="skillsButton">JMeter</button>
                        <button mat-button class="skillsButton">ITIL</button>
                        <button mat-button class="skillsButton">Putty</button>
                        <button mat-button class="skillsButton">SSMS</button>
                        <button mat-button class="skillsButton">Confluence</button>
                        <button mat-button class="skillsButton">Maven</button>
                        <button mat-button class="skillsButton">Postman</button>
                    </th>
                </tr>
                <tr>
                    <th>
                        OPERATING SYSTEMS
                    </th>
                    <th>
                        <button mat-button class="skillsButton">MacOS</button>
                        <button mat-button class="skillsButton">Linux</button>
                        <button mat-button class="skillsButton">Windows</button>
                    </th>                    
                </tr>
            </table>
        </mat-card>     
    </div>
<!-- <div fxLayout="column" fxFlex = "100%">
    <div fxLayout="row" fxFlex = "20%">
        <mat-card-content class="skills">Languages</mat-card-content>
        <button mat-button>Download CV</button>
        <button mat-button>Download CV</button>
    </div>
    <div fxLayout="row" fxFlex = "40%">
        
    </div>
    <div fxLayout="row" fxFlex = "20%">
        
    </div>
    <div fxLayout="row" fxFlex = "20%">
        
    </div>
    <div fxLayout="row" fxFlex = "20%">
        
    </div>

</div> -->